@import "@styles/common/variables";
@import "@styles/common/mixins";

.goods {
    &-cont{
        &_title{
            width: 100%;
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 8px;
            overflow: hidden;
            text-overflow: ellipsis;
            height : 16px;
            word-wrap : brek-word;
            display : -webkit-box;
            -webkit-line-clamp  : 1;
            -webkit-box-orient: vertical;
        }

        &_meta{
            font-size: 14px;
            color : $FONT_GRAY_COLOR;
            margin-bottom: 15px;
        }

        &_bottom{
            display: flex;
            justify-content: space-between;
        }

        &_price{
            font-size: 18px;
            font-weight: 800;
        }
    }
}
