@import "../common/variables";
@import "../common/mixins";


.header{
  display:grid;
  grid-template-columns: 2fr 1fr;
  margin: 35px 0 45px 0;

  &-logo{
    width: 110px;
    cursor: pointer;
  }

  &-left-section{
    display: flex;
    gap : 0 20px;
  }

  &-search-wrapper{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 70%;

    .search{
      &-input{
        width: 55%;
        height: 100%;
        position: relative;
        font-size: 14px;
        padding: 10px 15px;

        &.pc{
          padding: 10px 16px;
          width: 100%;
        }

        &.mobile{
          display: none;
        }
      }

      &-button{
        &.pc{
          margin-right: 15px;
          position: absolute;
          z-index: 999;
        }

        &.mobile{
          display: none;
        }
      }
    }
  }

  &-right-section{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &-login-wrapper{
    .login{
      &-container{
        display: flex;
        align-items: center;
        justify-content: center;

        &.mobile{
          display: none;
        }

        .sale{
          &-container{
            display: flex;
            justify-content: flex-end;
            align-items: center;
          }

          &-btn_icn{
            width: 24px;
            height: 24px;
          }

          &-btn_text{
            background-color: transparent;
          }
        }

        .user{
          &-container{
            display: flex;
            justify-content: flex-end;
            gap: 0 3px;
          }

          &-btn{
            &_img{
              width: 28px;
              height: 28px;
              cursor: pointer;
            }

            &_text{
              background-color: transparent;
              max-width: 100px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            &_dialog-icn{
              width: 10px;
            }
          }
        }

        .search-btn_icn{
          width: 30px;
        }
      }
    }

    .user-btn_dialog{
      font-size: 13px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px 0;
      position: absolute;
      z-index: 999;
      top: 70px;
      right: 3%;
    }
  }

  &-logout-wrapper{
    .logout{
      &-container{
        display: flex;
        justify-content: center;
        align-items: center;

        .search-btn_icn{
          display: none;
        }
      }

      &-btn_text{
        background-color: transparent;
        font-size: 14px;

        &::before{
          content:'로그인 / 회원가입'
        }
      }
    }

  }

  @include tablet{
    grid-template-columns: 2fr 1fr;
    margin : 30px 0 40px 0;

    &-logo{
      width: 100px;
    }

    &-search-wrapper{
      display: flex;
      justify-content:flex-start;
      width: 100%;

      .search{
        &-input{
          width: 100%;
          display:block;

          &.pc{
            display: none;
          }

          &.mobile{
            display: block;
          }
        }

        &-button{
          &.pc{
            display: none;
          }
        }
      }
    }

    &-login-wrapper{
      .login{
        &-container{
          display: flex;
          align-items: center;
          justify-content: center;

          &.pc{
            display: none;
          }

          &.mobile{
            display: flex;
            gap: 0 5px;
          }

          .search-btn_icn{
            margin-top: 2px;
            margin-left: 2px;
          }

          .user-btn_dialog_icn{
            margin-top: 5px;
          }
        }
      }
    }

    .logout{
      &-container{
        gap: 0 8px;

        .search-btn_icn{
          display: block;
        }
      }

      &-btn_icn{
        display: none;
      }

      &-btn_text{
        border: 1px solid black;
        padding: 5px 10px;

        &::before{
          content: '로그인';
        }
      }
    }
  }

  @include mobile{
    grid-template-columns: 3fr 1fr;
    margin : 30px 0 40px 0;

    &-logo{
      width: 100px;
    }

    &-search-wrapper{
      display: flex;
      justify-content:flex-start;
      width: 100%;

      .search{
        &-input{
          width: 100%;

          &.pc{
            display: none;
          }

          &.mobile{
            display: block;
          }
        }

        &-button{
          &.pc{
            display: none;
          }
        }
      }
    }

    &-login-wrapper{
      .login{
        &-container{

          &.pc{
            display: none;
          }

          &.mobile{
            display: flex;
            gap: 0 5px;
          }

          .search-btn_icn{
            margin-top: 2px;
            margin-left: 2px;
          }

          .user-btn_dialog_icn{
            margin-top: 5px;
          }
        }
      }
    }

    .logout{
      &-container{
        gap: 0 8px;

        .search-btn_icn{
          display: block;
        }
      }

      &-btn_icn{
        display: none;
      }

      &-btn_text{
        border: 1px solid black;
        padding: 5px 10px;

        &::before{
          content: '로그인';
        }
      }
    }
  }
}