@import "@styles/common/variables";

.modal {
  height: auto !important;

  .modal-header {
    text-align: center;

    h2 {
      font-size: 20px;
      font-weight: bold;
    }

    p {
      margin-top: 10px;
      color: $FONT_GRAY_COLOR;

      &.login {
        color: $FONT_COLOR;
      }
    }
  }

  .modal-body {
    &_form {
      margin-top: 40px;
      margin-bottom: 40px;

      input {
        width: 100%;
        height: 40px;
        margin-top: 15px;
        margin-right: 10px;
        border-radius: 3px;
        font-size: 13px;
      }

      select {
        width: 100%;
        height: 40px;
        margin-top: 15px;
        padding: 10px;
        border: 1px solid $BORDER_COLOR;
        border-radius: 3px;
        font-size: 13px;
      }

      &-profile {
        display: flex;
        justify-content: center;
        position: relative;
      }

      &-avatar {
        border-radius: 100%;
        border: 2px solid $BORDER_COLOR;
        width: 125px;
        height: 125px;
      }

      &-photo-wrapper {
        cursor: pointer;
      }

      &-photo {
        position: absolute;
        right: 105px;
        bottom: 5px;
        width: 30px;
        height: 30px;
        padding: 7px 6px 6px 6px;
        border-radius: 100%;
        background: $FONT_GRAY_COLOR;

        img {
          width: 17px;
          height: 17px;
        }
      }

      &-input:not(:first-child) {
        margin-top: 25px;
      }

      &-input.email {
        .email-wrapper {
          display: flex;
          align-items: center;
        }

        input {
          flex: 1;
        }

        button {
          width: 70px;
          height: 40px;
          margin-top: 15px;
          padding: 11px;
          border: 1px solid $BORDER_COLOR;
          background: $BACKGROUND_COLOR;
          font-size: 13px;
          color: $FONT_GRAY_COLOR;
        }
      }

      &-input.password p{
        margin-top: 6px;
        font-size: 13px;
        color: $FONT_GRAY_COLOR;
      }

      &-input.offer {
        display: flex;
        align-items: center;
        justify-content: center;

        h3 {
          font-weight: bold;
          margin-right: 15px;
        }

        input {
          width: 170px;
          margin-top: 0;
        }
      }

    }

    &_select-wrapper {
      display: flex;

      div {
        flex: 1;
      }

      div:first-child {
        margin-right: 10px;
      }
    }

    &_btn {
      font-size: 16px;
      font-weight: 600;
      border-radius: 5px;
      width: 180px;
      height: 50px;

      &-wrapper{
        display: flex;
        justify-content: center;
      }

      &.kakao {
        margin-top: 10px;
        background-color: $KAKAO_COLOR;
        color: $KAKAO_FONT_COLOR;
      }

      &.offer {
        width: 200px;
        margin: 0 auto;
      }

      &.signup {
        width: 180px;
        height: 50px;
        background-color: $PRIMARY_COLOR;
        color:white;
      }
    }
  }

  .modal-footer {
    margin-top: 30px;
    text-align: center;
    line-height: 20px;

    p {
      font-size: 13px;
      color: $FONT_GRAY_COLOR;
    }

    span {
      text-decoration: underline;
    }

    &.withdrawal p{
      float: right;
      margin-top: -10px;
      color: $FONT_GRAY_COLOR;
    }
  }
}