@import "@styles/common/variables";
@import "@styles/common/mixins";

// .header-wrapper{
//     display: flex;
//     justify-content:center;

//     .header {
//         margin:0px;
//         padding:0px;
//         max-width: 1280px;
//         width:100%;
//         height: 102px ;
//         background-color: black;
//     }
// }



.detail-info-wrapper{
    gap:57px;
    padding:0px;
    padding-inline-start: 0px;
    margin-top: 37px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .finish{
        position: relative;
        &-message{
            font-family: noto-sans;
            z-index: 100;
            top:190px;
            left:200px;
            color: white;
            font-size: 22px;
            position: absolute
        }
    }
}



.img-wrapper{
    max-width:486px;
    width:100%;
    padding:0px;
}

.post-info-wrapper{
    padding:0px;

    .post-info{
        margin-top: 18px;
        width:100%;
        max-width:453px;
        min-width: 453px;
        min-height: 337px;

        .post-info-user{
            display: flex;
            gap:17.99px;

            .user-name{
                font-size:18px;
                align-content: center;
                line-height: 47px;
            }
        }
    }

}






.post-info-top{
    display: flex;
    margin-top: 20px;
    .post-title{
        width: 80%;
        font-size: 22px;
        // white-space: nowrap;
        // overflow: hidden;
        // text-overflow: ellipsis;
    }
    .like-button{
        margin-left: auto;
        line-height: 30px,
    }
}

.post-price{
    margin-top: 20px;
    font-size: 32px;
    font-weight: bold;
}

.post-info-bottom{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap:15px;

    .post-info-bottom_time{
        display: flex;
        gap: 24.98px;
        .info-key{
            font-size: 14px;
            color:#BBBBBB;
        }

        .info-value{
            font-size: 14px;
            color:#888888;
        }
    }
}

.info-offer-wrapper{
    gap:55px;
    padding:0px;
    padding-inline-start: 0px;
    margin-top: 37px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .not-offer-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .offer-state_ban{
        color:#888888;
        text-align: center;
    }

    .offer-button{
        margin-top: 20px;
        width:100%;
        max-width: 214px;
        height: 52px;
        background-color: $PRIMARY_COLOR;
        color : white;
        &.ban{
            background-color: #AEAEAE;
        }
    }

    .goods-info{
        max-width: 488px;
        width:100%;
        padding: 0px;

        .goods-info-title{
            font-size: 20px;
            font-weight: bold;
        }

        .goods-info-content{
            margin-top: 20px;
            word-break: break-all;
            font-size: 16px;
        }

    }
    .offer-user-info{

        display:flex;
        margin-top: 20px;
        margin-bottom: 20px;

        .offer-subinfo{
            display: flex;
            flex-direction: column;
            .offer-username{
                display: flex;
                margin-bottom: 8px;
                font-size: 16px;
            }
            .offer-address{
                color: #888888;
                font-size: 14px;
            }
        }


        .offer-suggestinfo{
            display: flex;
            margin-left: auto;
            justify-content: center;
            align-items: center;
            gap:5px;
            .offer-price{
                width:100%;
                font-size: 20px;
            }
        }
    }


    .offer-option{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .offer-page{
            text-align: center;
            width:100%
        }
        .offer-state{
            margin-top: 20px;
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .offer-state_ban{
                color:#888888;
                text-align: center;
            }
            .offer-button{
                margin-bottom: 20px;
                width:100%;
                max-width: 214px;
                height: 52px;
                background-color: $PRIMARY_COLOR;
                color : white;
                &.ban{
                    background-color: #AEAEAE;
                }
            }
        }
    }


}


@include mobile{
    .img-wrapper{
        width:100%;
        padding:0px;
        
    }

    .post-info-wrapper{
        padding:0px;

        .post-info{
            margin-top: 18px;
            width:100%;
        }

    }

    .post-info-top{
        display: flex;
        margin-top: 20px;
        .post-title{
            width: 80%;
            font-size: 22px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .like-button{
            margin-left: auto;
            line-height: 30px,
        }
    }

    .post-price{
        margin-top: 20px;
        font-size: 32px;
        font-weight: bold;
    }

    .post-info-bottom{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        gap:15px;

        .post-info-bottom_time{
            display: flex;
            gap: 24.98px;
            .info-key{
                font-size: 14px;
                color:#BBBBBB;
            }

            .info-value{
                font-size: 14px;
                color:#888888;
            }
        }
    }

    .info-offer-wrapper{
        gap:55px;
        padding:0px;
        padding-inline-start: 0px;
        margin-top: 37px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .goods-info{
            width:100%;
            padding: 0px;

            .goods-info-title{
                font-size: 20px;
                font-weight: bold;
            }

            .goods-info-content{
                margin-top: 20px;
                word-break: break-all;
            }

        }
        .offer-user-info{

            display:flex;
            margin-top: 20px;
            margin-bottom: 20px;

            .offer-subinfo{
                display: flex;
                flex-direction: column;
                .offer-username{
                    display: flex;
                    margin-bottom: 8px;
                }
                .offer-address{
                    color: #888888;
                    font-size: 14px;
                }
            }
        }
    }
}


.options{
    margin-left: auto;
}

.status-wrapper{
    display: flex;
    position: relative;

}
.status-list {
    display: flex;
    z-index: 100;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: 90px;
    height: 109px;
    border: solid black;
    font-size: 13px;
    top: 30px;
    left: 300px;
  
    @media (max-width: 706px) {
      z-index: 100;
      left: 300px;
      height: 109px;
    }
  }



