@import "@styles/common/variables";
@import "@styles/common/mixins";

.profile {
    margin: 100px 0;

    &-container {
        width: 100%;
        border: 1px solid #ccc;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr .1fr 2fr;
        gap: 20px;
        height: 300px;
        border-radius: 3px;
        padding: 30px 20px;
    }

    &-box {
        display: flex;
        justify-content: center;
        align-items: center;

        &_img {
            margin-right: 30px;
        }

        &_inform {
            display: flex;
            flex-direction: column;
            margin-right: 10%;
        }

        &_nickname {
            font-size: 26px;
            font-weight: 600;
            margin-bottom: 10px;
            cursor: pointer;
        }

        &_level {
            font-size: 14px;
            color: $PRIMARY_COLOR;
            margin-bottom: 5px;
        }

        &_area {
            font-size: 14px;
            color: #999;
        }
    }

    &-img {
        margin-right: 10%;
        cursor: pointer;
    }

    &-divider {
        background-color: $BORDER_COLOR;
        width: 100%;
        height: 1px;
    }

    &-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        &_item {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-weight: 600;
        }

        &_title {
            font-size: 20px;
            cursor: pointer;
            margin-bottom: 10px;
        }

        &_content {
            font-size: 22px;
            cursor: pointer;
        }

        &_selected {
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, #f7502a41 50%);
        }
    }

    .result {

        &-container {
            margin: 60px 0;
        }

        &-title {
            font-size: 26px;
            margin-bottom: 30px;
            font-weight: 800;
        }

        &-btn-box {
            display: flex;
            width: 100%;
        }

        &-btn_item {
            font-size: 18px;
            width: 100%;
            height: 100%;
            padding: 15px 0;
            background-color: transparent;
            color: $FONT_GRAY_COLOR;
            border-top: 2px solid #000;
            border-bottom: 2px solid $BORDER_COLOR;
            font-weight: 500;

            & selected {
                border-bottom-color: #000;
                color: $FONT_COLOR;
            }
        }

        &-lineup-box {
            text-align: right;
            margin: 30px 0;
        }

        &-lineup_item {
            font-size: 14px;

            & selected {
                color: $PRIMARY_COLOR;
            }
        }
    }

    .newgoods {
        margin: 0px;
        list-style: none;
        display: flex;
        flex-direction: column;
        position: relative;
        box-sizing: border-box;

        .img-container {
            height: 300px;
            width: 100%;

        }

        &-title {
            font-size: 26px;
            font-weight: bold;
        }

        &-wrapper {
            width: 100%;
            padding: 0px;
            display: flex;
            justify-content: center;
            box-sizing: border-box;
        }

        &-list {
            padding: 0px;
            padding-inline-start: 0px;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 10% 3%;
            box-sizing: border-box;

        }

        & .info {
            &-top {
                max-width: 140px;
                margin-top: 10px;
                font-size: 14px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &-middle {
                color: $FONT_GRAY_COLOR;
                margin-top: 7px;
                font-size: 12px;
            }

            &-bottom {
                font-weight: bold;
                margin-top: 18px;
                font-size: 16px;
                display: flex;
                justify-content: space-between;

                .reviews-btn {
                    width: 60px;
                    height: 20px;
                    font-size: 10px;
                }
            }
        }
    }

    .newgoodstext {
        &-wrapper {
            margin-top: 50px;
            display: flex;
            justify-content: center;
            margin-bottom: 50px;
        }

        &-container {
            width: 999px;
        }
    }

    @include tablet {
        margin: 100px 10%;

        &-container {
            grid-template-columns: 1fr;
            grid-template-rows: 3fr .1fr 2fr;
        }

        .newgoods {
            &-list {
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }

    @include desktop {
        &-container {
            grid-template-columns: 1.2fr .1fr 3fr;
            grid-template-rows: none;
            height: 200px;
            padding: 15px 0;
            gap: 0;
        }

        &-divider {
            width: 1px;
            height: 100%;
        }




    }

    @include tablet {
        margin: 100px 8%;

        .newgoods {
            &-list {
                grid-template-columns: repeat(3, 1fr);
                gap: 4% 3%;
            }
        }
    }

    @include mobile {
        margin: 100px 2%;

        &-list_title {
            font-size: 16px;
            cursor: pointer;
            margin-bottom: 10px;
        }

        &-list_content {
            font-size: 18px;
            cursor: pointer;
        }

        .result{
            &-title{
                font-size: 18px;
            }

            &-btn_item {
                font-size: 16px;
            }
        }

        .newgoods {
            &-list {
                grid-template-columns: repeat(2, 1fr);
                gap: 3.5% 2%;
            }
        }
    }
}