.headerWrapper{
    margin:0px;
    padding:0px;
    display: flex;
    justify-content:  center;
}

.header {
    margin:0px;
    padding:0px;
    width: 1280px;
    height: 102px ;
    background-color: black;
}

.detailInfoWrapper{
    gap:57px;
    padding:0px;
    padding-inline-start: 0px;    
    margin-top: 37px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



.imgWrapper{
    padding:0px;    
}

.postInfoWrapper{
    padding:0px;
}

.postInfo{
    margin-top: 18px;
    width:453px;

}

.postInfoUser{
    display: flex;
    gap:17.99px;
}

.userName{
    font-size:18px;
    align-content: center;
    line-height: 47px;
}

.postInfoTop{
    display: flex;
    margin-top: 20px;
}
.postTitle{
    width: 80%;
    font-size: 22px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.postPrice{
    font-size: 32px;
    font-weight: bold;
}

.postInffoBottom{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap:15px;
}

.postInffoBottom_time{
    display: flex;
    gap: 24.98px;
}

.infoKey{
    font-size: 14px;
    color:#BBBBBB;
}

.infoValue{
    font-size: 14px;
    color:#888888;
}

.infoOfferWrapper{
    gap:55px;
    padding:0px;
    padding-inline-start: 0px;    
    margin-top: 37px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.goodsInfo{
    max-width: 488px;
    padding: 0px;

}

.goodsinfoTitle{
    font-size: 20px;
    font-weight: bold;
}

.goodsinfoContent{
    margin-top: 20px;
    word-break: break-all;

}

.offerWrapper{
    margin-top: 20px;
    padding-left: 10px;
    display: flex;
}

.offerUserInfo{
    width: 453px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
}

.offersubInfo{
    display: flex;

}

.offerAddress{
    color: #888888;
    font-size: 14px;
}

.offerPrice{
    margin-left: auto;
    line-height:1px;
    font-size: 20px;

}