.profile_wrapper{
    /* background-color: aqua; */
    margin : 100px 0;
}

.profile_container{
    width:100%;
    border: 1px solid #ccc;
    display: grid;
    grid-template-columns: 1fr .1fr 3fr;
    height: 180px;
    border-radius: 3px;
}

.profile_box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile_img{
    margin-right: 10%;
    cursor: pointer;
}

.profile_box_inform{
    display: flex;
    flex-direction: column;
    margin-right: 10%;
}

.profile_nickname{
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 3px;
    cursor: pointer;
}

.profile_level{
    font-size: 14px;
    color: #F74F2A;
}

.profile_area{
    font-size: 14px;
    color: #999;
}

.profile_list_box{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.profile_list_item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 600;
}

.profile_list_title{
    font-size: 20px;
    cursor: pointer;
}

.profile_list_selected_title{
    background: linear-gradient(180deg,rgba(255,255,255,0) 50%, #f7502a41 50%);
}

.profile_list_content{
    font-size: 22px;
    cursor: pointer;
}