$PRIMARY_COLOR : #F74F2A;
$FONT_COLOR : rgba(0, 0, 0, 0.9);
$FONT_GRAY_COLOR : #888888;
$BORDER_COLOR : #CCCCCC;
$BACKGROUND_COLOR: #FFFFFF;
$OPACITY_COLOR: rgba(0, 0, 0, 0.5);

$breakpoint-mobile : 585px;
$breakpoint-tablet : 862px;
$breakpoint-desktop : 1280px;