$PRIMARY_COLOR : #F74F2A;
$FONT_COLOR : rgba(0, 0, 0, 0.9);
$FONT_GRAY_COLOR : #888888;
$BORDER_COLOR : #CCCCCC;
$BACKGROUND_COLOR: #FFFFFF;
$OPACITY_COLOR: rgba(0, 0, 0, 0.5);

$bereakpoint-mobile : 500px;
$bereakpoint-tablet : 768px;
$bereakpoint-desktop : 1280px;