@import "./variables";
@import "./mixins";

html,
body {
  margin: 0;
  font-family: Roboto, Noto Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  color: $FONT_COLOR;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  max-width: 1280px;
  min-width: 360px;
  width: 100%;
  height: 100%;
  margin-bottom: 30px;

  @include small-desktop{
    width: 94%;
  }

  @include tablet{
    width: 95%;
  }

  @include mobile{
    width: 96%;
    margin-bottom: 30px;
  }

}

.spinner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 300px);
}

.swiper-pagination-horizontal {
  bottom: 25px !important;
}