.search {
  /* global */
  .active {
    color: #f74f2a;
    font-weight: bold;
  }


  /* filter */
  .filter-container {
    width: auto;
    margin: 0 auto;
  }
  .filter-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    border: 1px solid #DDD;
    border-radius: 5px;
  }
  .filter-cont-wrapper {
    display: flex;
    width: 100%;
    height: 173px;
  }
  .filter-cont {
    padding: 0 30px;
    width: 33%;
  }
  .filter-cont:nth-child(2) {
    padding: 0 30px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }
  .filter-cont_title {
    margin: 0;
    padding-bottom: 15px;
    font-size: 16px;
    border-bottom: 2px solid #000;
  }
  .filter-cont_item-list {
    padding-top: 25px;
    height: 75%;
  }
  .filter-cont_item-list.category {
    list-style: none;
    overflow: scroll;
    margin: 0;
    padding: 25px 0 0 0;
  }
  .filter-cont_item-list.orderway {
    display: flex;
    flex-direction: row;
  }
  .category .filter-cont_item{
    padding: 10px 0;
  }
  .filter-cont_item-list p {
    text-align: center;
    margin: 0
  }
  .filter-cont_item-notice{
    margin-top: 8px !important;
    color: #888;
  }
  .result-filter_btn-wrapper {
    display: flex;
    margin-top: 40px;
  }


  /* search result - header */
  .result-container {
    width: 95%;
    margin: 0 auto;
  }
  .result-title {
    margin-top: 60px;
    font-size: 26px;
  }
  .result-title h3{
    display: inline-block;
    margin: 0;
    font-size: 26px;
  }
  .result-title span{
    margin-left: 10px;
    color: #f74f2a;
  }
  .result-filter-wrapper {
    margin-top: 10px;
  }
  .result-filter {
    display: none;
  }
  .result-filter_sort {
    display: flex;
    justify-content: flex-end;
  }
  .result-filter_sort-item.recent::after {
    content: '';
    margin: 0 10px;
    border: 1px solid #ccc;
  }
  .result-filter_sort-item.price-low::after {
    content: '';
    margin: 0 10px;
    border: 1px solid #ccc;
  }

  /* result - body */
  .result-body {
    margin-top: 30px;
  }
  .result-item {
    width: 180px;
  }
  .result-item p {
    margin: 0;
  }

  .result-item_title {
    margin-top: 10px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .result-item_cont {
    position: relative;
  }
  .result-item_meta {
    margin-top: 7px !important;
    color: #888;
  }
  .result-item_price {
    margin-top: 20px !important;
    font-size: 16px;
    font-weight: bold;
  }
  .result-item_cont-heart {
    position: absolute;
    top: 15px;
    right: 10px;
    width: 30px !important;
    height: 30px !important;
  }


  @media screen and (max-width: 500px) {
    /* filter */
    .filter-mask {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 100;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.5);
    }
    .filter-mask.show {
      display: block;
    }
    .filter-container {
      position: fixed;
      overflow-y: scroll;
      right: 0;
      height: 100vh;
      padding: 20px;
      background: #fff;
    }
    .filter-wrapper {
      padding: 0;
      border: none;
    }
    .filter-cont-wrapper {
      flex-direction: column;
      height: auto;
    }
    .filter-cont {
      margin-top: 50px;
      width: 100%;
    }
    .filter-cont:nth-child(2) {
      border: none;
    }
    .filter-cont_item-list {
      height: auto;
    }
    .filter-cont_item-list.category {
      height: 200px;
    }
    .result-filter_btn-wrapper {
      flex-direction: column !important;
      width: 100%;
      padding: 0 30px;
      margin-top: 30px;
    }
    .result-filter_btn-wrapper button{
      width: 100% !important;
    }
    .result-filter_btn-wrapper button:first-child{
      margin-bottom: 15px;
    }


    /* search result - header*/
    .result-title {
      padding-bottom: 20px;
      border-bottom: 2px solid #000;
    }
    .result-filter-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 20px;
    }
    .result-filter {
      display: block;
    }
    .result-filter_btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 61px;
      height: 31px;
      border: 1px solid #ccc;
      border-radius: 3px;
    }
    .filter-icon{
      width: 20px !important;
      height: 20px !important;
    }
  }
}